
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.text-center {
    text-align: center;
}

.navbar {
    margin-bottom: 60px;
}